<!doctype html>
<html>

<head>
	<title>Template 1</title>
	<link rel="stylesheet" href="../build/css/style.min.css" />
	<script src="../build/js/jquery.min.js"></script>
	<script src="../build/js/bootstrap.min.js"></script>
	<script src="../js/scripts.js"></script>
	<script src="../js/tvm.js"></script>
</head>

<body>

	<div class="jumbotron">
		<h1>tvm.js</h1>
		<p>An easy way to embed time value of money calculations in your webpages.</p>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h4>Present value</h4>
			</div>
			<div class="col-sm-8">
				<form id="tvmPV">
					<div class="form-group">
						<label class="col-sm-2">Future value</label>
						<div class="col-sm-10">
							<input type="text" class="fv form-control" /><br />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2">Time</label>
						<div class="col-sm-10">
							<input type="text" class="n form-control"  /><br />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2">Interest Rate</label>
						<div class="col-sm-10">
							<input type="text" class="r form-control" /><br />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2">Result:</label>
						<div class="col-sm-10">
							<input type="text" class="result form-control" placeholder="Result" /><br />
						</div>
					</div>
					<button class="tvmPVbutton btn btn-primary">Calculate</button>
				</form>
			</div>
		</div>
		
	</div>

</body>

<script>
$("#tvmPV button").click(function(e) {
	e.preventDefault();
	var fv = parseInt($(this).parent("#tvmPV").find(".fv").val() );
	var n = parseInt($(this).parent("#tvmPV").find(".n").val() );
	var r = parseInt($(this).parent("#tvmPV").find(".r").val() );
	var result = tvmPV(fv, n, r);
	alert(result);
	$(this).parent("#tvmPV").find(".result").val(result);
});


</script>

</html>